<!DOCTYPE html>
<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>서비스 소개</title>
</head>

<body>

<main layout:fragment="main">
    <section class="section flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2">
            <h1 class="font-bold text-lg flex mb-2 icon-text">
                <i class="fa-solid fa-circle-info"></i>
                <span class="ml-1">
                    서비스 소개
                </span>
            </h1>

            <ul class="list-disc">
                <li><span class="text-red-500">HOGAM.APP</span> 전화번호를 아는 사람에게 <span class="text-red-500">익명</span>으로
                    <span class="text-red-500">호감</span>을 표시하는 앱 입니다.
                </li>
                <li>발음은 <span class="text-red-500">호감앱</span> 입니다.</li>
                <li>본 사이트는 <span class="text-red-500">개인정보</span>를 수집하지 않습니다.</li>
                <li>입력하신 전화번호는 <span class="text-red-500">복호화가 불가능한 암호화</span>를 거쳐서 저장됩니다.</li>
                <li>모든 데이터는 일요일 저녁 10시에 <span class="text-red-500">자동삭제</span> 됩니다.</li>
                <li>개발자 : 유튜버 <span class="text-red-500">몰입코딩</span>( jangka512@gmail.com )</li>
            </ul>

        </div>
    </section>
</main>

</body>
</html>