<!DOCTYPE html>
<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>서비스 소개</title>
</head>

<body>

<main layout:fragment="main">
    <section class="section flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2">
            <h1 class="font-bold text-lg flex mb-2 icon-text">
                <i class="fa-solid fa-circle-info"></i>
                <span class="ml-1">
                    서비스 소개
                </span>
            </h1>

            <ul class="list-disc pl-4 break-keep" th:fragment="about">
                <li>
                    <span class="text-red-500">HOGAM.APP</span>은 당신이 인기있는지 알려줍니다.
                </li>
                <li>발음은 <span class="text-red-500">호감앱</span> 입니다.</li>
                <li>본 서비스는 <span class="text-red-500">개인정보</span>를 수집하지 않습니다.</li>
                <li>입력하신 전화번호는 <span class="text-red-500">복호화가 불가능한 암호화</span>를 거쳐서 저장됩니다.</li>
                <li>개발자 및 개인정보보호 책임자 : <span class="text-red-500">몰입코딩(장희성)</span></li>
                <li>연락처 : jangka512@gmail.com</li>
            </ul>

        </div>
    </section>
</main>

</body>
</html>