<!DOCTYPE html>
<html layout:decorate="~{usr/layout//layout.html}">

<head>
    <title>로그인</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2">
            <h1 class="font-bold text-lg flex mb-2 icon-text">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span class="ml-1">
                    로그인
                </span>
            </h1>

            <a href="/oauth2/authorization/kakao">
                <i class="fa-solid fa-comments text-icon text-[#AFAFAF]"></i>
                카카오 로그인
            </a>

        </div>
    </section>
</main>

</body>
</html>